body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #3a1601;
  /* Original dark brown background */
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 100%;
  height: 100%;
  background-color: rgb(126, 46, 0);
  border: 2px solid #ec5d09;
  border-radius: 8px;
  box-shadow: 6px 7px 10px rgba(236, 5, 5, 0.575);
  display: flex;
  flex-direction: column;
}

.window-header {
  background-color: #42260b;
  padding: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-content {
  padding: 20px;
  flex-grow: 1;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  background-color: white;
  box-sizing: border-box;
}