body{
    background-color: rgba(0, 0, 0, 0.87);
    

}

img{
    width: 10%;
    box-shadow: 2px 1px 2px 2px white;
    border-radius: 10px;
    
}

.mp3{
    display: flex;
    align-items: end;
    gap: 10%;
    padding-right: 90px;
}

audio{
    width: 100%;
}