body{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
    border-bottom: 2px  solid rgba(141, 141, 141, 0.2);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.096);
}

.apple{
    display: flex;

}

.apple img{
   
    margin: 0;
    padding: 0;
    width: 5%;
    height: 5%;
    margin-top: 0.2%;

    
}

#search{
    display:flex;
    justify-content:space-between ;
    transform: translateY(-45px);
    padding-right: 20px;
        
}

#search2{
    border-radius: 6px;
    font-size: 18px;
}


.apple h1{
    margin-top: 1.2%;
    margin-left: -1.4%;
}

#tittle{
    text-shadow: 1px 1px 2px red;
}

.list_music{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

.Images,a {
    box-shadow: 1px 1px 4px 1px black;
    border-radius: 10px;
    margin-top: 5%;
    text-decoration: none;
    color: black;
    transition: 0.20s;
}

.Images:hover {
    background-color: rgb(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

.list_music img{
    margin-top: 5%;
}

.modal {
   position: fixed;
    left: 25%;
    bottom: 0%;
    background: rgba(0,0,0,0.1);
    display: none;
    justify-content: center;
    align-items: center;

}

iframe{
    width: 900px;
    height: 100px;
    border-radius: 20px;

}

.modal:target {
    display: flex;
}

.close{
    
    text-decoration: none;
    font-weight: bold;
}

button{
    border-radius: 100%;
    height: 28px;

}
@media (max-width:900px){
    .list_music{
        grid-template-columns: repeat(2,1fr);
    }
    
    .apple img{
    margin: 0;
    padding: 0;
    width: 9%;
    height: 10%;
    margin-top: 0.2%;

    }
}


@media (max-width:600px){
    .list_music{
    
    grid-template-columns: repeat(1,1fr);
    }
    .apple img{
   
    margin: 0;
    padding: 0;
    width: 9%;
    height: 10%;
    margin-top: 0.2%;
    } 
}


