body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3a1601;
}


.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3a1601;
  flex-direction: column;
  gap: 20px;
}

.window {
  display: none;
  width: 400px;
  height: 300px;
  background-color: rgb(126, 46, 0);
  border: 2px solid #ec5d09;
  border-radius: 8px;
  box-shadow: 6px 7px 10px rgba(236, 5, 5, 0.575);
  position: relative;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
}

.window-header {
  background-color: #42260b;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-title {
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  color: rgb(224, 6, 6);
  font-size: 16px;
  cursor: pointer;
}

.window-content {
  padding: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.icon {
  background-color: #f74e00;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.icon-img {
  font-size: 30px;
}

.icon:hover {
  background-color: #ff670f;
}

.open-notepad {
  display: none;
}

.open-notepad:checked + .icon + .window {
  display: block;
}

.open-notepad:checked + .icon + .window {
  transform: scale(1.05);
}

nav {
    background-color: rgb(173, 56, 1);
    height: 60px;
    line-height: 60px;
    margin-right: 96%;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.barra {
    color: white;
    text-decoration: none;
    line-height: 60px;
    margin-left: 18px;
}

nav:hover {
    color: white;
    background-color: black;
    box-shadow: white 4px 5px 9px;
}

.window:hover {
    background-color: black;
    box-shadow: orangered 3px 6px 9px;
}

.icon:hover {
    background-color: black;
    box-shadow: orangered 4px 6px 8px;
}